/node_modules
/public/hot
/public/storage
/public/media
/storage/*.key
/storage/app/public/*
/storage/framework/views/*
/vendor
/.idea
/.vscode
/.vagrant
env
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.user.ini
php.ini
phpinfo.php
_ide_helper.php
phpunit.xml
/bootstrap/cache/*
.phpunit.result.cache